<ion-list *ngIf="items.length ">
  <ion-list-header>
    <ion-label>{{listName.toUpperCase()}}</ion-label>
  </ion-list-header>
  <ion-item  *ngFor="let item of items" [href]="navigateTo(listName, item)">
    <ion-avatar slot="start">
      <img [src]="'assets/images/'+ item + '.png'" />
    </ion-avatar>
    <ion-label>
      <h2>{{ item }}</h2>
    </ion-label>
  </ion-item>
</ion-list>