<ion-header>
  <ion-toolbar>
    <ion-title>Card Backs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="cardBackList.length">
    <ion-card *ngFor="let cardBack of cardBackList">
      <ion-card-header text-wrap>
        <ion-card-title>
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="cardBack.img">
            </ion-thumbnail>
            <ion-label>{{ cardBack.name}}</ion-label>
          </ion-item>
          
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="cardBack.description"></div>

      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
