<ion-tabs>
  <ion-tab label="Cards" icon="home" href="/tabs/(card:card)">
    <ion-router-outlet name="card"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="Favorite" icon="heart" href="/tabs/(favorite:favorite)">
    <ion-router-outlet name="favorite"></ion-router-outlet>
  </ion-tab>

  <ion-tab label="Backs" icon="cog" href="/tabs/(cardbacks:cardbacks)">
    <ion-router-outlet name="cardbacks"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
