<ion-header>
  <ion-toolbar>
    <ion-title>Favorite Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="favoriteCardsList.length ">
    <ion-card *ngFor="let card of favoriteCardsList">
      <ion-card-header text-wrap>
        <ion-card-subtitle>
          {{card.cardSet}}
        </ion-card-subtitle>
        <ion-card-title>{{card.name}}</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <div [innerHTML]="card.text"></div>
        <ion-button size="medium" expand="full" [href]="'/tabs/(card:card/' + card.cardId + ')' ">
          See Details
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
