<ion-header>
  <ion-toolbar>
    <ion-title>card-detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card  *ngIf="card">
    <ion-card-header>
      <ion-card-subtitle *ngIf="card?.cardSet">{{ card.cardSet | titlecase }}</ion-card-subtitle>
      <ion-card-title *ngIf="card?.name">{{ card.name | titlecase }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="card.img" (error)="updateImage($event)" />
    </ion-card-content>

    <ion-list>
      <ion-item>
        <ion-label *ngIf="card?.name"><h1>{{ card.name | titlecase }}</h1></ion-label>
      </ion-item>

      <ion-item *ngIf="card?.text">
        <ion-label text-wrap>
          <h3>Description:</h3>
          <ion-text  text-wrap lines="none" [innerHTML]="card.text">
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.flavor">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Flavor:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.flavor}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.health">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Health:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.health}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.attack">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Attack:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.attack}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.faction">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Faction:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.faction}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.rarity">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Rarity:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.rarity}}</p>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="card?.type">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>Type:</h3>
          </ion-text>
          <ion-text color="tertiary">
            <p>{{card.type}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
