<ion-header>
  <ion-toolbar>
    <ion-title>{{cardDeckGroup }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-search  
    (searchStarted)="handleSearch($event)"
    (searchCompleted)="hydateCards($event)" 
    [items]="copyOfCards" 
    [filteredProperty]="'name'"></app-search>

  <ion-spinner text-center *ngIf="isLoading"  name="dots"></ion-spinner>
  <ion-refresher slot="fixed" (ionRefresh)="refreshCards($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="cards.length ">
    <ion-card *ngFor="let card of cards | slice:0:limit ">
      <ion-card-header text-wrap>
        <ion-card-subtitle>
          {{card.cardSet}}
          <ion-icon (click)="favoriteCard(card)" name="flame" class="like-icon" [ngClass]="card.favorite ? 'favorite' : 'normal'"></ion-icon>
        </ion-card-subtitle>
        <ion-card-title>{{card.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div [innerHTML]="card.text" ></div>
        <ion-button size="medium" expand="full" [href]="'/tabs/(card:card/' + card.cardId + ')' ">
          See Details
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
